<div class="share-wrapper">
<div>
  <span style="font-weight: 500">Like what you see? Share with a friend!</span>
</div>
<div class="social-buttons">
  <a href="https://facebook.com/sharer.php?u=http://localhost:4200{{currentUrl}}">
    <img alt="Facebook Share Button" src="assets/fbBtn.png" id="facebook-share-btn">
  </a>
  <a href="https://twitter.com/share?url=http://localhost:4200{{currentUrl}}">
    <img alt="Twitter Share Button" src="assets/twitterBtn.png" id="twitter-share-btn">
  </a>
  <a
    href="mailto:?subject={{articleTitle}}  &body=Check out this article I found on the Synthetica blog: http://localhost:4200{{currentUrl}}">
    <img alt="Email Share Button" src="assets/emailBtn.png" id="email-share-btn">
  </a>
</div>
</div>
